@import '~bpk-mixins';
body {
  background-color: #00b2d6;
}
.App {

  .logo{
    width: 50%;
  }
  .card-thing{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .slider_input {
    width: 80%;
    padding-bottom: 40px;
    display: inline-block;
  }

  .result-image{
    background-image: url('https://i.imgur.com/2LwhPif.jpg');
    height: 500px;
    padding: 0px;
    background-size: cover;
    color: white;
    font-size: 64px;
    padding-top: 200px;
  }

  .small-img{
    width: 60px;
    height: 60px;
  }

  .input-thing{
    height: 100px;
  }

  main {
    margin-left: 15%;
    margin-right: 15%;
  }
  text-align: center;

  &__header {
    padding: $bpk-spacing-xl 0;
    background-color: white;
    background-image: white;
    color: #00b2d6;

    @include bpk-box-shadow-sm;

    @include bpk-breakpoint-mobile {
      padding: $bpk-spacing-base 0;
    }
  }

  &__main {
    padding: $bpk-spacing-base 0;
    background-color: #00b2d6;
  }

  &__heading {
    margin-bottom: $bpk-spacing-sm;
  }

  &__text {
    margin-bottom: $bpk-spacing-sm;
  }

}
